@charset "UTF-8";

body {
  display: flex;
  flex-direction: column;

  height: 100vh;
  background: var(--bg-color);
  color: #fff;
  font: normal 1rem Arial, verdana;
}

main {
  flex: 0 0 92%;
  padding: 10px 15px 0;
  overflow: hidden;
}

/* header */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 10%;
}

.page-title {
  font: 700 1.2rem verdana;
  letter-spacing: .14rem;
  text-shadow: 5px 5px 10px #00000066;
}

.open-progress-modal {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;
  width: 50px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.today {
  font: 500 1.4rem Arial;
  color: var(--font-color);
}

/* stats && task-title */

.stats-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;

  height: 20%;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  height: 80%;
  flex: 0 1 130px;
  background: #fff;
  font: normal 1.2rem Arial;
  color: var(--font-color);
  border-radius: 10px;
}

.rutine-title {
  display: flex;
  align-items: center;

  height: 8%;
  font: 700 1.4rem Arial;
  letter-spacing: .14rem;
  text-shadow: 5px 5px 10px #00000066;
}

/* tasks container */

.tasks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: .5rem;

  height: 52%;
  width: 90%;
  margin: auto;
  padding: 10px 0;
  background: #fff;
  border-radius: 10px;
  overflow: auto;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 15%;

  width: 90%;
  background: var(--bg-color);
  padding: 0 10px;
  color: #fff;
  border-radius: 10px;
  box-shadow: inset 0 0 10px 1px #00000066;
}

.task p {
  font: normal 1rem Helvetica, Arial;
  letter-spacing: .1rem;
  text-shadow: 2px 2px 10px #00000066;
}

.task-check {
  height: 70%;
  width: 15%;
  background: #fff;
  border-radius: 50%;
}

.task-check.checked {
  background: var(--font-color);
}

/* create task modal */

.ct-modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;

  display: none;

  height: 100vh;
  width: 100vw;
  background: #00000066;

  z-index: 1;
}

.create-tasks-modal {
  position: absolute;
  top: 50%;
  left: 50%;

  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  height: 40%;
  width: 80%;
  background: var(--bg-color);
  color: #fff;
  border: none;
  border-radius: 10px;
  visibility: hidden;
  z-index: 10;

  transform: translate(-50%, -50%);
}

.close-ct-modal {
  position: relative;
  left: 42%;

  height: 10%;
  width: 14%;
  background: #fff;
  color: var(--font-color);
  border: none;
}

.inp-container {
  height: 70%;
  padding: 30px 10px;
}

#task-name-inp {
  height: 20%;
  width: 70%;
  margin-bottom: 20px;
}

.create-task-btn {
  height: 5vh;
  width: 20vw;
}

/* create tasks modal open */

.create-tasks-modal.open-modal {
  display: flex;
  visibility: visible;
}

/* btns */

.btns-container {
  display: flex;
  align-items: center;

  height: 7vh;
  width: 12vw;
  background: #fff;
  margin-top: 2%;
  border: solid;
  border-radius: 50%;
  box-shadow: 5px 5px 10px #00000066;
}

.btns-container button {
  height: 6vh;
  width: 10vw;
  background: var(--bg-color);
  font: normal 1.4rem Arial;
  color: #fff;
  border: none;
  border-radius: 50%;
}

.open-btns-container {
  border: solid;
}

.btns-container p {
  position: absolute;
  left: 18vw;
  
  font: normal 1.1rem Helvetica;
  color: #ffffff88;
  text-shadow: 2px 2px 10px #00000066;
}

.btns {
  display: none;
}

/* btns container */

.btns-container.menu-open {
  justify-content: flex-start;
  gap: 15%;

  width: 70%;
  border-radius: 25px;
}

.btns-container.menu-open p {
  display: none;
}

.btns-container.menu-open .btns {
  display: block;
}