@charset "UTF-8";

body {
  display: flex;
  flex-direction: column;

  height: 100vh;
  background: var(--bg-color);
  color: #fff;
  font: normal 1rem Arial, verdana;
}

main {
  flex: 9 1 90vh;
  padding: 10px 15px 0;
}

/* header */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 10%;
}

.page-title {
  font: 700 1.2rem verdana;
  letter-spacing: .14rem;
  text-shadow: 5px 5px 10px #00000066;
}

.open-progress-modal {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;
  width: 50px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.today {
  font: 500 1.4rem Arial;
  color: var(--font-color);
}

/* stats && task-title */

.stats-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;

  height: 20%;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  height: 80%;
  flex: 0 1 130px;
  background: #fff;
  font: normal 1.2rem Arial;
  color: var(--font-color);
  border-radius: 10px;
}

.rutine-title {
  display: flex;
  align-items: center;

  height: 8%;
  font: 700 1.4rem Arial;
  letter-spacing: .14rem;
  text-shadow: 5px 5px 10px #00000066;
}

/* tasks container */

.tasks-container {
  height: 52%;
  width: 90%;
  margin: auto;
  background: #fff;
  border-radius: 10px;
}

/* create task modal */

.create-tasks-modal {
  position: absolute;
  top: 50%;
  left: 50%;

  height: 200px;
  width: 250px;
  background: var(--bg-color);
  color: #fff;
  border: none;
  border-radius: 10px;

  transform: translate(-50%, -50%);
}

::backdrop {
  background: #00000088;
}

/* btns */

@keyframes close-menu {
  0% {
    border-radius: 50%;
  }

  100% {
    width: 40px;
    border-radius: 50%;
  }
}

.btns-container {
  height: 40px;
  width: 40px;
  margin-top: 8px;
  background-color: #fff;
  border: solid 1px;
  box-shadow: 5px 5px 10px #00000066;
  box-sizing: content-box;

  animation: close-menu .3s forwards;
}

@keyframes open-menu {
  0% {
    border-radius: 20px;
  }

  100% {
    border-radius: 20px;
    width: 100%;
  }
}

.btns-container.menu-open {
  animation: open-menu .3s forwards;
}

.btns-container button {
  height: 40px;
  width: 40px;
  background: var(--bg-color);
  color: #fff;
  font: normal 1.5rem Arial;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}


.open-btns-container {
  position: relative;

  z-index: 2;
  transition: .3s ease;
}

.btns-container.menu-open .open-btns-container {
  background: #fff;
  color: var(--font-color);

  transition: .3s ease;
}

.btns-container p {
  position: relative;
  left: 50px;
  bottom: 30px;

  width: 150px;
  color: #ffffff88;
  font: normal 1.1rem Arial;
  text-transform: capitalize;

  transition: .4s .1s;
}

.btns-container.menu-open p {
  opacity: 0;
}

.btns {
  position: absolute;
  left: 0;
  bottom: 50px;

  z-index: 1;
  visibility: hidden;
}

.btns-container.menu-open .btns {
  visibility: visible;
}

.btns-container.menu-open .open-ct-modal {
  left: 20%;
  transition: .3s .2s;
}

.btns-container.menu-open .remove-tasks-btn {
  left: 45%;
  transition: .3s .3s;
}

.btns-container.menu-open .edit-tasks-btn {
  left: 70%;
  transition: .3s .4s;
}