@charset "UTF-8";

:root {
  --bg-color: #3f48cc;
  --font-color: #2b3a99;
  --hover-color: #3f48ccaa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, ul, li {
  color: var(--font-color);
  list-style: none;
  text-decoration: none;
}

.nav-bar {
  flex: 1 1 8vh;
  background: #fff;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 5px 10px 15px #00000022;
}

.nav-list {
  display: flex;
  height: 100%;
}

.nav-list li {
  width: calc(100vw / 3);
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;


  height: 100%;
  font: 700 1.1rem Arial;
  text-transform: uppercase;
  text-shadow: 3px 3px 10px #00000065;
}

.page:hover {
  background: var(--hover-color);
  color: #fff;
  font-size: 1.3rem;
  text-shadow: 6px 6px 10px #00000065;
}