@charset "UTF-8";

:root {
    --bg-color: #462e4f;
    --bg-color2: #60416b;
    --hover-color: #503a5d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li, a {
    text-decoration: none;
    list-style: none;
    color: #fff;
}

.nav-menu {
    position: fixed;
    bottom: 0;

    height: 10%;
    width: 100%;
    border-radius: 15px 15px 0 0;
    background: var(--bg-color2);
}

.nav-list {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list li {
    height: 100%;
    width: calc(100vw / 3);
}

.nav-list a {
    display: block;

    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 3vh;
    font: bold .9rem Arial;
}

.nav-list a:hover {
    background: var(--hover-color);
    border-radius: 15px 15px 0 0;
}